*{
		font-family:"Trebuchet MS",Tahoma,sans-serif;
		margin: 0;
		padding: 0;
	}
	
	#banner {
		float: left;
		width: 100%;
		border: 1px solid black;
		background: #ffffff;
		position:relative;
		min-width: 700px;
		background-color: red;
	}
	
	.banner {
		font-size: 5em;
		margin-left: 2%;
		color: black;
	}
	
	.heading {
		color: black;
		font-size: 2em;
		margin-top: 1em;
	}
	
	.areaHeading {
		color: black;
		font-size: 1.5em;
		margin-top: 1em;
	}
	.error {
		color: black;
		font-size: 2em;
		margin-top: 1em;
	}

	.good {
		color: black;
		font-size: 2em;
		margin-top: 1em;
	}

	img.aleft {
		float: left;
		width: 131px;
		margin-right: 1em;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 1em;
	}
	
	.clear {
		clear: both;
	}	
	
	div.aleft {
		clear: both;
		float: left;
	}
	
	span.aright {
		float: right;
	}	
	
	#main {
		clear: both;
		position: relative;
		border-bottom: 1px inset black;
		border-right: 1px inset black;
		border-left: 1px inset black;
		float:left;
		margin-top:-1px;
		width:100%;
		min-width: 700px;
	}
	
	
	#footer {
		clear: both;
		float: left;
		width: 100%;
		margin-top: 15px;
		padding: 10px;	
		min-width: 700px;
	}
	
	#footer ul {
		list-style-position: inside;
		margin-left: 25px;
	}
	
	#footer ul li {
		margin-bottom: 5px;
	}
	
	#footerDiv{
		border: 1px solid black;
		padding: 2px;
		background-color: orangered;
	}
	
	input[type="submit"]{
		background-color: orangered;
		border: 2px solid black;
	}
	
	input[type="reset"]{
		background-color: orangered;
		border: 2px solid black;
	}
	
	.log {
		margin-bottom: 10px;
	}
	
	li{
		margin-bottom:2em;
	}
	
	body{
		margin-left:5%;
		margin-right:5%;
		background-color:red;
	}
	
	#content{
		background-color:#fff;
		padding:1em;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
	}
	
	#content h1{
		margin-top:0;
	}
		
	#items{
		margin-bottom:2em;
	}
	
	#items h2{
		margin-bottom:0;
		padding-bottom:0;
	}
		
	.one_item {
		padding: 30px;
	}
	
	#items_controls {
		background: #dde;
		padding: 5px;
		background-color: orangered;
	}
	
	#items_controls a:link{
		color:black;
	}
	
	#items_controls a:visited{
		color:maroon;
	}
		
	code{
		font-family:courier;
	}
	
#navlist{
	padding: 3px 0;
	margin: .5em 0 0 0;
	border: 1px solid black;
	font-size:14pt;
	float: left;
	clear: both;
	width: 100%;
}

#navlist li{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid black;
border-bottom: none;
background: #DDE;
text-decoration: none;
background-color: maroon;
}

#navlist li a:link { color: black; }
#navlist li a:visited { color: white; }

#navlist li a:hover{
color: black;
background: #AAE;
border-color: #227;
background-color: red;
}

#navlist li a#current{
background: white;
border-bottom: 1px solid black;
background-color: red;
}

.one_item h3{
	margin-bottom:0;
	padding-bottom:0;
	color:black;
}

.one_item p{
	margin-top:0;
	padding-top:.5em;
}
.one_item{
	border-bottom:1px solid black;
}

.box, #sales, #items {
-moz-box-shadow: 0 0 10px #000000;
-webkit-box-shadow:0 0 10px #000000;
box-shadow:0 0 10px #000000;
padding: 5px;
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border-radius: 5px; 
border: 1px solid;
margin-top: 10px;
}